body {
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #828282;
}

.button {
    background: #F13C6E;
    border-radius: 30px;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 9px 40px;
    border: none;
}

.button.button_clear {
    background: none;
    border: 2px solid #F13C6E;
    color: #000000;
}

.button.button_clear-white {
    border: 2px solid #FFFFFF;
    background: none;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h1 {
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 18px;
    line-height: 21px;
}

h4 {
    font-size: 16px;
    line-height: 22px;
}

/*   HEADER    */

.main-menu {
    background: #E5E5E5;
    text-align: center;
    padding: 17px 0;
}

.main-menu__item {
    display: inline-block;
    margin: 0 15px;
    line-height: 16px;
}

.header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-elements .header-elements__button {
    padding: 12px 26px;
}

.search .search__input {
    background: #EFEFEF;
    border-radius: 40px;
    font-size: 16px;
    border: none;
    padding: 10px 25px 10px 50px;
    box-sizing: border-box;
    position: relative;
}

.search .search__label {
    position: relative;
    display: inline-block;
}

.search .search__label:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/search.svg');
    background-size: cover;
    background-position: center;
    left: 20px;
    top: 50%;
    z-index: 2;
    margin-top: -10px;
}

.phone .phone__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.submenu {
    text-align: center;
    border-top: 1px solid #EFEFEF;
    padding: 30px 0;
}

.submenu .submenu__item {
    display: inline-block;
    margin: 0 20px;
}

.submenu .submenu__link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/* MAIN */

main {
    background-color: #E5E5E5;
}



/* MAIN SECTION TEASER*/

.teaser {
    height: 604px;
    background-image: url('../images/teaserBg.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

.teaser .teaser__title {
    margin-bottom: 50px;
}

.teaser .teaser__text {
    line-height: 20px;
    margin-bottom: 50px;
}


/* MAIN SECTION SPECIAL*/

.special {
    padding: 80px 0 100px;
}

.special .special__title {
    margin-bottom: 38px;
}

.products-list {
    display: flex;
    justify-content: space-between;
}

.products-list .products-list__item {
    background-color: white;
    width: 255px;
    padding: 25px 30px;
    box-sizing: border-box;
    text-align: center;
}

.products-list .products-list__image {
    max-height: 166px;
    margin-bottom: 20px;
}

.products-list .products-list__text {
    margin-bottom: 20px;
}

.products-list .products-list__price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 500;
    margin-bottom: 20px;
}

/* MAIN SECTION PROMO*/

.promo {
    padding-bottom: 100px;
}

.promo-list {
    display: flex;
    justify-content: space-between;
}

.promo-list .promo-list__item {
    color: #FFFFFF;
    width: 540px;
    padding: 35px 40px;
    background-color: #F13C6E;
    background-position: center right 45px;
    background-repeat: no-repeat;
    box-sizing: border-box;

}

.promo-list .promo-list__item.promo-list_mail {
    background-image: url('../images/mail.svg');
}

.promo-list .promo-list__item.promo-list_car {
    background-image: url('../images/car.svg');
}

.promo-list .promo-list__title {
    margin-bottom: 25px;
}

.promo-list .promo-list__text {
    margin-bottom: 25px;
}

.promo-list .promo-list__input {
    background: #FFFFFF;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 25px;
    border: none;
}

.promo-list .promo-list__input::placeholder {
    color: #C4C4C4;
}

.promo-list .promo-list__button {
    padding: 9px 28px;
}

/* MAIN SECTION PARTNERS */

.partners-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
}

.partners-list .partners-list__item {
    width: 25%;
    height: 120px;
    position: relative;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
}

.partners-list .partners-list__item:nth-child(4n) {
    border-right: none;
}

.partners-list .partners-list__item:nth-last-child(-n+4) {
    border-bottom: none;
}

.partners-list .partners-list__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 270px;
    max-height: 100px;
}

/* MAIN SECTION RECENTLY VIEWED*/

.recently-viewed {
    padding: 80px 0;
}

.recently-viewed .recently-viewed__title {
    margin-bottom: 38px;
}

/* MAIN SECTION POPULAR CATEGORIES*/

.popular-categories {
    background-color: white;
    padding: 60px 0;
}

.popular-categories .popular-categories__columns {
    display: flex;
    justify-content: space-between;
}

.popular-categories .popular-categories__column {
    width: 255px;
}

.popular-categories .popular-categories__title {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 30px;
    margin-bottom: 25px;
}

.popular-categories .popular-categories__item {
    margin-bottom: 10px;
}

/* FOOTER*/

.footer {
    background-color: white;
}

.footer .footer__top {
    border-top: 1px solid #EFEFEF;
}

.footer-elements {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 38px 0;
    line-height: 0;
    align-items: center;
}

.social-networks .social-networks__link {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 20px;

}

.social-networks .social-networks__link:last-child {
    margin-right: 0;
}

.social-networks .social-networks__link.social-networks__link_youtube {
    background-image: url('../images/icons/youtube.svg');
}

.social-networks .social-networks__link.social-networks__link_vk {
    background-image: url('../images/icons/vk.svg');
}

.social-networks .social-networks__link.social-networks__link_fb {
    background-image: url('../images/icons/fb.svg');
}

.social-networks .social-networks__link.social-networks__link_instagram {
    background-image: url('../images/icons/instagram.svg');
}

.footer-elements .footer-elements__address {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    flex-grow: 1;
    text-align: center;
}

.phone .phone__link.footer-elements__phone {
    margin-right: 40px;
}

.footer-elements .footer-elements__button {
    padding: 12px 26px;
}

.footer .footer__bottom {
    background-color: #EFEFEF;
}

.footer-copyrights {

    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.footer-copyrights .footer-copyrights__text {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.footer-copyrights .footer-copyrights__link {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}